/* shared style */


/* header styles */
.header {
    background: rgba(255, 144, 14, 0.1);
}


/* nav styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-links {
    display: flex;
    text-decoration: none;
}
.nav-item {
    list-style: none;
    margin: 0 15px;
}
.nav-brand {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.nav-item a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner {
    max-width: 1440px;
    margin: 0 15rem 0 15rem;
    text-align: center;
    align-items: center;
}
.banner-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
}
.banner-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}
.explore-button {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 180px;
    height: 64px;
    border: none;
}
.banner-image {
    width: 100%;
    margin-top: 1rem;
}

/* team section styles */

/* main .teams-container {
    margin: 85px 301px 130px 301px;
    align-items: center;
    justify-content: center;
} */



.teams-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 76px;
    margin-right: 301px;
    margin-left: 301px;
    margin-top: 85px;
    margin-bottom: 130px;
}
.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features-title {
    letter-spacing: 0%;
    font-size: 45px;
}
.quick-list {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}
.of-our {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.features {
    color: rgb(255, 144, 14);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.our-features-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}


/* responsive media queries */
/* smaller devices */
@media screen and (max-width: 576px) {
    .teams-container, .navbar, .nav-item, .nav-links {
        flex-direction: column;
    }
    .banner {
        margin: 0 1rem 0 1rem;
    }
    .teams-image-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-container {
        width: auto;
    }
    /* main .teams-container {
        align-items: center;
        justify-content: center;
    } */
    .nav-links {
        font-size: 2rem;
    }
    .our-features {
        padding: 1.5rem;
    }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams-container, .navbar, .nav-item, .nav-links {
        flex-direction: column;
    }
    .teams-image-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .banner {
        margin: 0 1rem 0 1rem;
    }
    .nav-links {
        font-size: 2rem;
    }
    .our-features {
        padding: 1.5rem;
    }
}


/* larger devices */